body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */
header{
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #009764;
  background-repeat:no-repeat;
  background-position: center;
}
header img{
  min-height: 300px;
  border-radius: 180px;
  border: 5px solid #555;
  border-color: #dbdbdb;
}
h1{
 text-shadow: 2px 2px #555;
 color: aliceblue;
 size: 16px;
}
header a{
text-decoration: none;
color:white;
}

header a:hover{
    color:#dbdbdb;
  }

.tarjetita1{
  justify-content: center;
  text-align: left;
  size: 10px;
  color:black;
  

}
.parrafo_descripcion{
  font-size: 22px;
  font-style: italic;
  color: black;
  text-align: justify;
  margin-block:5px;
  padding: 5px;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
/* Ajusta el desplazamiento del scroll */
:target {
  scroll-margin-top: 50px; 
}
footer a {
  color: inherit; 
  text-decoration: none; 
}

footer a:hover {
  color: #dbdbdb; 
}
